@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 95vh;
  width: 100%;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}



/*This is for the Big Calendar*/
/* For month view day cells */
.rbc-month-view .rbc-date-cell {
  cursor: pointer;
}

/* Optional: also apply to the whole day slot area */
.rbc-month-view .rbc-day-bg:hover {
  cursor: pointer;
}

.rbc-month-view .rbc-day-bg:hover {
  background-color: rgba(0, 123, 255, 0.1); /* light blue on hover */
  transition: background-color 0.2s;
}
